#navbar {
    flex-direction: column;
}

#logo img {
    height: 50px;
    margin: -10px 15px;
}

#navbar ul li a {
    font-size: 15px;
    margin: 0px;
    padding: 5px 10px;
}

#home {
    height: 612px;
    padding: 0;
    margin: 0px 5px;
}

#home::before {
    height: 670px;
}

#home p {
    font-size: 12px;
    text-align: left;
}

.btn {
    padding: 4px 8px;
    font-size: 12px;
    margin: 5px 5px;
}

#services {
    height: auto;
    flex-direction: column;
    align-items: center;
}

#services .box {
    margin: 10px 4px;
    padding: 8px 3px;
    width: 80%;

}

#infra-item {
    padding: 10px 10px;
}

#infra img {
    height: 100px;
}

#infra::before {
    height: 790px;
    width: 100%;
}

#contact::before {
    height: 267px;
    width: 100%;
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    font-size: 12px;
}

.contact-box label {
    font-size: 14px;
}

.contact-box form {
    width: 40%;
}

footer {
    padding: 5px 10px;
}

.h-primary {
    font-size: 26px;
}

.h-secondary {
    font-size: 20px;
}

.h-tertiary {
    font-size: 15px;
    padding: 10px 40px;
}
.h-forth{
    font-size: 12px;
    text-align: center;
}
